footer {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #3a3740;
    display: flex;
    justify-content: center;
}

footer .container-wrap {
    position: relative;
    width: 1300px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}

.footer-first-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 107px;
    padding-bottom: 58px;
}

.footer-first-line>div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-first-line .footer-title {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 33px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .03em;
}

.footer-first-line .footer-link {
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer-first-line .footer-link a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-size: 15px;
    text-align: left;
    line-height: 1.7333em;
    font-weight: 400;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
}

.footer-first-line .footer-social {
    position: relative;
    display: flex;
    gap: 10px;
}

.footer-first-line .footer-social a {
    text-decoration: none;
    outline: 0;
}

.footer-first-line .footer-social a svg {
    height: 25px;
    width: auto;
    fill: #fff;
}

.footer-first-line .footer-text {
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer-first-line .footer-text a,
.footer-first-line .footer-text p {
    color: #fff;
    text-align: left;
    line-height: 1.7333em;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
}

.footer-first-line .footer-text a {
    text-decoration: none;
    font-size: 17px;
}

.footer-first-line .footer-map {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 302px;
    gap: 20px;
}

#mymap{
    background: url(/img/map.webp); 
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 303px;
    height: 143px;
}

#mymap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.footer-first-line .footer-map p {
    font-style: italic;
    line-height: 14px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.footer-first-line .footer-map .map-iframe {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 143px;
    max-height: 143px;
}

/* second line */

.footer-second-line {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 121px;
    max-height: 121px;
    border-top: 1px solid rgba(255,255,255,.1);
    display: flex;
}

.footer-second-line .footer-logo {
    position: relative;
    width: 33.3%;
    max-width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-second-line .footer-logo img {
    width: auto;
    height: 40px;
}

.footer-second-line  .footer-second-line-text {
    position: relative;
    width: calc(100% - 33.35);
    max-width: calc(100% - 33.35);
    display: flex;
    align-items: center;
}

.footer-second-line  .footer-second-line-text span {
    color: #fff;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 1350px) {
    footer .container-wrap {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 980px) {

    .footer-first-line {
        flex-wrap: wrap;
        gap: 20px 0;
        justify-content: flex-start;
    }

    .footer-first-line>div {
        width: 50%;
    }

    .footer-second-line {
        flex-direction: column;
        align-items: center;
        height: auto;
        max-height: none;
        padding-top: 15px;
        padding-bottom: 15px;
        gap: 10px 0git;
    }

    .footer-second-line .footer-logo,
    .footer-second-line  .footer-second-line-text {
        width: auto;
        max-width: none;
    }

}

@media (max-width: 500px) {
    .footer-first-line>div {
        width: 100%;
        justify-content: center;
    }
}