
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Raleway,sans-serif;
    font-display: swap;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}

main {
    position: relative;
}

.container-wrap,
.content-wrap {
    position: relative;
    width: 1300px;
    max-width: 1300px; 
}

@media (max-width: 1310px) {
    .content-wrap {
        width: 1100px;
        max-width: 1100px; 
    }
}

@media (max-width: 1120px) {
    .content-wrap {
        width: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px; 
    }
}