.section-text {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.section-text h2 {
    padding-top: 30px;
    color: #4a3e5a;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
}

.separator {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 20px;
}

.separator-line {
    height: 1px;
    width: 39px;
    max-width: 39px;
    background-color: #4a3e5a;
}

.separator-icon {
    font-size: 11px;
    color: #4a3e5a;
    padding-left: 5px;
    padding-right: 5px;
}

.img-text-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .img-text-wrap img {
        width: 580px;
        height: auto;
    }
}

@media (max-width: 580px) {
    .img-text-wrap img {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .img-text-wrap img {
        width: 300px;
    }
}