
.main-headline {
    padding-top: 30px;
    color: #4a3e5a;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

.separator-line {
    height: 1px;
    width: 39px;
    max-width: 39px;
    background-color: #4a3e5a;
}

.separator-icon {
    font-size: 11px;
    color: #4a3e5a;
    padding-left: 5px;
    padding-right: 5px;
}

.img-text-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.section-text p {
    color: #808080;
    font-size: 15px;
    width: 100%;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.7333em;
    letter-spacing: 0;
}

.section-text p a {
    text-decoration: none;
    color: #4a3e5a;
}

.blog-headline {
    font-size: 21px;
    margin-top: 24px;
    margin-bottom: 24px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #4a3e5a;
    line-height: 1.2em;
    font-weight: 300;
}

.section-text .table {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.table table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    line-height: 1.7333em;
}

.table table thead {
    background-color: #d7d4db;
    color: #4a3e5a;
}

.table table th {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 5px 7px;
    font-size: 15px;
}

.table table tbody tr {
    border: 1px solid #e6e6e6;
}

.table table td {
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    color: #808080;
    font-weight: 300;
}

@media (max-width: 800px) {
    .img-text-wrap img {
        width: 580px;
        height: auto;
    }

    .table table th,
    .table table td {
        font-size: 13px;
    }
}

@media (max-width: 580px) {

    .main-headline {
        font-size: 18px;
    }

    .blog-headline {
        font-size: 16px;
    }

    .img-text-wrap img {
        width: 400px;
    }

    .table table th,
    .table table td {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .img-text-wrap img {
        width: 300px;
    }
}