
.main-headline,
.main-headline2  {
    padding-top: 30px;
    color: #4a3e5a;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

.main-headline2 {
    font-size: 21px;
}

.separator-line {
    height: 1px;
    width: 39px;
    max-width: 39px;
    background-color: #4a3e5a;
}

.separator-icon {
    font-size: 11px;
    color: #4a3e5a;
    padding-left: 5px;
    padding-right: 5px;
}

.img-text-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.section-text p {
    color: #808080;
    font-size: 15px;
    width: 100%;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.7333em;
    letter-spacing: 0;
}

.section-text p a {
    text-decoration: none;
    color: #4a3e5a;
}

.blog-headline {
    font-size: 21px;
    margin-top: 24px;
    margin-bottom: 24px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #4a3e5a;
    line-height: 1.2em;
    font-weight: 300;
}

.section-text .table {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.table table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    line-height: 1.7333em;
}

.table table thead {
    background-color: #d7d4db;
    color: #4a3e5a;
}

.table table th {
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 5px 7px;
    font-size: 15px;
}

.table table tbody tr {
    border: 1px solid #e6e6e6;
}

.table table td {
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    color: #808080;
    font-weight: 300;
}

.section-text .subtitle {
    text-align: center;
    font-size: 18px;
    color: #656565;
    font-family: "Playfair Display",serif;
    font-style: italic;
    line-height: 1.85em;
    margin: 0;
}

.section-text .grid-info {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-text .grid-info>div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-text .grid-info>div>div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-info-icon svg {
    width: 45px;
    height: auto;
    fill: #4a3e5a;
}

.section-text .grid-info p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.grid-info-title p {
    font-size: 18px;
    color: #4a3e5a;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .03em;
    line-height: 1.2em;
}

.grid-info-text p {
    font-size: 15px;
}

/* 👻 Two colums 👻 */
.two-colums {
    position: relative;
    width: 100%;
    padding-top: 126px;
    padding-bottom: 97px;
    display: flex;
    justify-content: center;
    background-color: #d7d4db;
}

.two-colums-content {
    position: relative;
    display: flex;
}

.two-colums-content>div {
    position: relative;
    width: 50%;
    max-width: 50%;
}

.two-colums-content h3 {
    color: #4a3e5a;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.1875em;
    text-transform: uppercase;
}

.two-colums-content p,
.two-colums-white-content p {
    padding: 10px 0;
    color: #808080;
    font-size: 15px;
    line-height: 1.7333em;
    letter-spacing: 0;
    font-weight: 300;
}

.two-colums-content ul {
    color: #808080;
    font-size: 15px;
    line-height: 1.7333em;
    letter-spacing: 0;
    list-style-position: inside;
    font-weight: 300;
}


.two-column-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 11px 27px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: #4a3e5a;
    border: 1px solid #4a3e5a;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out,background-position .3s ease,opacity .2s ease-out;
}

.two-column-btn:hover {
    background-color: #4a3e5a;
    color: #fff;
}

.second-column {
    display: flex;
    align-items: center;
}

.second-column img {
    width: 702px;
    height: auto;
}

.two-colums-white {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 15px;
}

.two-colums-white-content {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: 30px;
}

.two-colums-white-content>div {
    position: relative;
}

.two-colums-white h3 {
    padding: 24px 0;
    font-size: 21px;
    color: #4a3e5a;
    text-transform: uppercase;
    font-weight: 300;
}

@media (max-width: 1500px) {
    .second-column img {
        width: 500px;
    }

    .two-colums-white-content {
        flex-wrap: wrap;
    }

    .two-colums-white-content>div {
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .second-column img {
        display: none;
    }

    .two-colums-content {
        flex-wrap: wrap;
    }

    .two-colums-content>div {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .img-text-wrap img {
        width: 580px;
        height: auto;
    }

    .table table th,
    .table table td {
        font-size: 13px;
    }
}

@media (max-width: 580px) {

    .main-headline {
        font-size: 18px;
    }

    .blog-headline {
        font-size: 16px;
    }

    .img-text-wrap img {
        width: 400px;
    }

    .table table th,
    .table table td {
        font-size: 12px;
    }

    .grid-info {
        flex-wrap: wrap;
    }
}

@media (max-width: 400px) {
    .img-text-wrap img {
        width: 300px;
    }
}